
<%if flash[:error]%>
    <% flash[:error].each do |error|%>
        <%=error%>
    <% end %>
<% end %>
<div class="mapBack">
<div class="exped">
<div class="expedInner">
<br>
<%=form_for @expedition do |f|%>

<%= f.label "Location"%>
<%= f.collection_select :place_id, @places, :id, :name%>
<br>
<% if @explorer.money > 5000 %>
<%= f.label "Rent Weapon?", "Rent Weapon?"%>
<%= f.check_box :hasWeapon %>
<% else %>
<%= "You are too poor to afford a weapon!!"%>
<% end %>
<br>
<% if @explorer.money > -1 %>
<%= f.label "hire yoan as guide?", "Hire Yoan as Guide?"%>
<%= f.check_box :hasGuide%>
<% else %>
<%= "Wow you are so poor that you can't even afford Yoan!!"%>
<% end %>

<%= hidden_field_tag :explorerID, @explorer_id %>
<br> 

<%= f.submit class:"btn btn-outline-dark btn-lg btn-block"%>

<% end %>
<form action="<%=explorer_path(@explorer)%>"><button type='submit' class='btn btn-outline-dark btn-lg btn-block'>Back to Explorer Profile</button></form>
 
<%# button_to "Back to Explorer Profile", explorer_path(@explorer), method: :get%>
<br>
</div></div></div>