<div class="exped">

<%= form_tag(hiscores_path, method: :get) do %>
  Search by Username :  <%= text_field_tag :user_name, params[:user_name] %>
  <%= submit_tag 'Search', name: nil %>
<% end %><br>

<%if @user%>
Average Explorer Wealth for <%=@user.name%> : <%=@user.averageExplorerWealth%><br>
<% end %>
<br>
<ol style="list-style-type:none">
<%@explorers.each { |exp|%>
    <li>User : <%=exp.user.name%> | Explorer Name : <%=exp.name%> | Money : <%=exp.money%> </li>

<% } %>
</ol>
</div>